In [2]:
!pip install pandas

Collecting pandas
  Using cached pandas-2.0.3-cp38-cp38-macosx_10_9_x86_64.whl.metadata (18 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/a1234/anaconda3/envs/acidpro/lib/python3.8/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/a1234/anaconda3/envs/acidpro/lib/python3.8/site-packages (from pandas) (2024.1)
Collecting tzdata>=2022.1 (from pandas)
  Using cached tzdata-2024.1-py2.py3-none-any.whl.metadata (1.4 kB)
Collecting numpy>=1.20.3 (from pandas)
  Using cached numpy-1.24.4-cp38-cp38-macosx_10_9_x86_64.whl.metadata (5.6 kB)
Requirement already satisfied: six>=1.5 in /Users/a1234/anaconda3/envs/acidpro/lib/python3.8/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Using cached pandas-2.0.3-cp38-cp38-macosx_10_9_x86_64.whl (11.7 MB)
Using cached numpy-1.24.4-cp38-cp38-macosx_10_9_x86_64.whl (19.8 MB)
Using cached tzdata-2024.1-py2.py3-none-any.whl (345 kB)
Installing collected packages: tzdata, numpy, pandas
Successfully installed numpy-1.24.4 pandas-2.0.3 tzdata-2024.1

In [3]:
import pandas as pd

In [41]:
df = pd.read_csv('include/dataset/vehicle_information-columns.csv')
df2 = pd.read_csv('include/dataset/uk-traffic-accidents-columns.csv')

In [ ]:
dfft = dfd[dfd[]]

In [50]:
df4 = dfd[['Accident_Index', 'Accident_Severity', 'Date', 'Day_of_Week',
           'Light_Conditions', 'Number_of_Casualties', 'Number_of_Vehicles',
           'Pedestrian_Crossing-Human_Control',
           'Pedestrian_Crossing-Physical_Facilities', 'Road_Surface_Conditions',
           'Speed_limit', 'Time', 'Weather_Conditions', 'Year_y']]

In [54]:
df4 = df4.head(2000)

In [55]:
df6 =df6.head(2000)

In [53]:
df6= dfd[['Accident_Index', 'Age_Band_of_Driver', 'Age_of_Vehicle',
       'Driver_Home_Area_Type', 'make', 'Sex_of_Driver',
       'Skidding_and_Overturning', 'X1st_Point_of_Impact', 'Year_x']]

In [49]:
df.columns

Index(['Accident_Index', 'Age_Band_of_Driver', 'Age_of_Vehicle',
       'Driver_Home_Area_Type', 'make', 'Sex_of_Driver',
       'Skidding_and_Overturning', 'X1st_Point_of_Impact', 'Year'],
      dtype='object')

In [62]:
dfd.columns

Index(['Accident_Index', 'Age_Band_of_Driver', 'Age_of_Vehicle',
       'Driver_Home_Area_Type', 'make', 'Sex_of_Driver',
       'Skidding_and_Overturning', 'X1st_Point_of_Impact', 'Year_x',
       'Accident_Severity', 'Date', 'Day_of_Week', 'Light_Conditions',
       'Number_of_Casualties', 'Number_of_Vehicles',
       'Pedestrian_Crossing-Human_Control',
       'Pedestrian_Crossing-Physical_Facilities', 'Road_Surface_Conditions',
       'Speed_limit', 'Time', 'Weather_Conditions', 'Year_y'],
      dtype='object')

In [42]:
dfd = pd.merge(df, df2, on='Accident_Index', how='right')
dfd

,Accident_Index,Age_Band_of_Driver,Age_of_Vehicle,Driver_Home_Area_Type,make,Sex_of_Driver,Skidding_and_Overturning,X1st_Point_of_Impact,Year_x,Accident_Severity,...,Light_Conditions,Number_of_Casualties,Number_of_Vehicles,Pedestrian_Crossing-Human_Control,Pedestrian_Crossing-Physical_Facilities,Road_Surface_Conditions,Speed_limit,Time,Weather_Conditions,Year_y
0,200501BS00001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Serious,...,Daylight,1,1,0.0,1.0,Wet or damp,30,17:42,Raining no high winds,2005
1,200501BS00002,36 - 45,3.0,Data missing or out of range,DENNIS,Male,NaN,Nearside,2005.0,Slight,...,Darkness - lights lit,1,1,0.0,5.0,Dry,30,17:36,Fine no high winds,2005
2,200501BS00003,26 - 35,5.0,Urban area,DENNIS,Male,NaN,Nearside,2005.0,Slight,...,Darkness - lights lit,1,2,0.0,0.0,Dry,30,0:15,Fine no high winds,2005
3,200501BS00004,46 - 55,4.0,Urban area,NISSAN,Female,NaN,Front,2005.0,Slight,...,Daylight,1,1,0.0,0.0,Dry,30,10:35,Fine no high winds,2005
4,200501BS00005,46 - 55,10.0,Data missing or out of range,HONDA,Male,Skidded,Front,2005.0,Slight,...,Darkness - lighting unknown,1,1,0.0,0.0,Wet or damp,30,21:13,Fine no high winds,2005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1174659,201091NM01935,46 - 55,NaN,Rural,RENAULT,Male,NaN,Back,2010.0,Slight,...,Daylight,1,3,0.0,0.0,Frost or ice,30,9:38,Fine no high winds,2010
1174660,201091NM01935,46 - 55,NaN,Small town,FORD,Male,Skidded,Front,2010.0,Slight,...,Daylight,1,3,0.0,0.0,Frost or ice,30,9:38,Fine no high winds,2010
1174661,201091NM01964,36 - 45,11.0,Data missing or out of range,TRIUMPH,Male,Skidded,Front,2010.0,Serious,...,Darkness - no lighting,1,2,0.0,0.0,Wet or damp,60,18:25,Fine no high winds,2010
1174662,201091NM01964,46 - 55,NaN,Rural,FORD,Male,NaN,Offside,2010.0,Serious,...,Darkness - no lighting,1,2,0.0,0.0,Wet or damp,60,18:25,Fine no high winds,2010
1174663,201091NM02142,26 - 35,13.0,Small town,VAUXHALL,Female,NaN,Front,2010.0,Serious,...,Daylight,1,1,0.0,0.0,Wet or damp,60,15:45,Snowing no high winds,2010

In [27]:
df2 = pd.read_csv('include/dataset/vehicle_info.csv')
result = df2[df2['Skidding_and_Overturning'].notnull()]
result = result.head(1000)

In [24]:
select
    a.Number_of_Vehicles AS vehicle_number,
    v.make
    v.Age_of_Vehicle

,Accident_Index,Accident_Severity,Date,Day_of_Week,Light_Conditions,Number_of_Casualties,Number_of_Vehicles,Pedestrian_Crossing-Human_Control,Pedestrian_Crossing-Physical_Facilities,Road_Surface_Conditions,Speed_limit,Time,Weather_Conditions,Year
0,200501BS00001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005
1,200501BS00002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005
2,200501BS00003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005
3,200501BS00004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005
4,200501BS00005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,201091NM01760,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2010
1048571,201091NM01881,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2010
1048572,201091NM01935,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2010
1048573,201091NM01964,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2010
1048574,201091NM02142,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2010

In [19]:
df_2 = df_2.head(1000)

In [22]:
df_2

,Accident_Index,Age_Band_of_Driver,Age_of_Vehicle,Driver_Home_Area_Type,make,Sex_of_Driver,Skidding_and_Overturning,X1st_Point_of_Impact,Year
0,True,True,True,True,True,True,False,True,True
1,True,True,False,True,True,True,False,True,True
2,True,True,True,True,True,True,False,True,True
3,True,True,False,True,True,True,False,True,True
4,True,True,True,True,True,True,False,True,True
...,...,...,...,...,...,...,...,...,...
995,True,True,True,True,True,True,False,True,True
996,True,True,True,True,True,True,False,True,True
997,True,True,True,True,True,True,False,True,True
998,True,True,False,True,True,True,False,True,True
999,True,True,True,True,True,True,False,True,True

In [56]:
df6.to_csv('include/dataset/vehicle_data.csv')

In [59]:
df4.to_csv('include/dataset/traffic_data.csv')

In [61]:
df6

,Accident_Index,Age_Band_of_Driver,Age_of_Vehicle,Driver_Home_Area_Type,make,Sex_of_Driver,Skidding_and_Overturning,X1st_Point_of_Impact,Year_x
0,200501BS00001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,200501BS00002,36 - 45,3.0,Data missing or out of range,DENNIS,Male,NaN,Nearside,2005.0
2,200501BS00003,26 - 35,5.0,Urban area,DENNIS,Male,NaN,Nearside,2005.0
3,200501BS00004,46 - 55,4.0,Urban area,NISSAN,Female,NaN,Front,2005.0
4,200501BS00005,46 - 55,10.0,Data missing or out of range,HONDA,Male,Skidded,Front,2005.0
...,...,...,...,...,...,...,...,...,...
1995,200501CW11047,36 - 45,NaN,Urban area,LONDON TAXIS INT,Male,NaN,Front,2005.0
1996,200501CW11048,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1997,200501CW11049,26 - 35,NaN,Data missing or out of range,VOLVO,Male,NaN,Did not impact,2005.0
1998,200501CW11050,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999,200501CW11051,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
result

,Accident_Index,Age_Band_of_Driver,Age_of_Vehicle,Driver_Home_Area_Type,make,Sex_of_Driver,Skidding_and_Overturning,X1st_Point_of_Impact,Year
6,200401BS00009,26 - 35,NaN,Urban area,PIAGGIO,Male,Skidded,Did not impact,2004
73,200401BS00150,16 - 20,3.0,Urban area,DUCATI,Male,Skidded,Front,2004
101,200401BS00197,36 - 45,3.0,Urban area,KAWASAKI,Male,Skidded,Front,2004
138,200401BS00274,36 - 45,NaN,Rural,PIAGGIO,Female,Skidded,Did not impact,2004
191,200401BS00352,26 - 35,3.0,Urban area,PIAGGIO,Female,Skidded,Did not impact,2004
...,...,...,...,...,...,...,...,...,...
18564,200404C081704,16 - 20,7.0,Small town,SUZUKI,Male,Skidded,Front,2004
18567,200404C082104,36 - 45,6.0,Urban area,NISSAN,Male,Skidded,Front,2004
18568,200404C082204,16 - 20,3.0,Rural,VAUXHALL,Male,Skidded,Front,2004
18578,200404C083504,26 - 35,12.0,Small town,NISSAN,Female,Skidded,Front,2004
18579,200404C083604,36 - 45,25.0,Data missing or out of range,MOTO GUZZI,Male,Skidded,Front,2004

In [34]:
d4 = left_join_df[left_join_df['Sex_of_Driver'].notnull()]
d4 = left_join_df[left_join_df['Sex_of_Driver'].notnull()]

In [35]:
d4

Empty DataFrame
Columns: [Accident_Index, Accident_Severity, Date, Day_of_Week, Light_Conditions, Number_of_Casualties, Number_of_Vehicles, Pedestrian_Crossing-Human_Control, Pedestrian_Crossing-Physical_Facilities, Road_Surface_Conditions, Speed_limit, Time, Weather_Conditions, Year_x, Age_Band_of_Driver, Age_of_Vehicle, Driver_Home_Area_Type, make, Sex_of_Driver, Skidding_and_Overturning, X1st_Point_of_Impact, Year_y]
Index: []

[0 rows x 22 columns]

In [38]:
left_join_df = pd.merge(df1, result, on='Accident_Index', how='right')
left_join_df

,Accident_Index,Accident_Severity,Date,Day_of_Week,Light_Conditions,Number_of_Casualties,Number_of_Vehicles,Pedestrian_Crossing-Human_Control,Pedestrian_Crossing-Physical_Facilities,Road_Surface_Conditions,...,Weather_Conditions,Year_x,Age_Band_of_Driver,Age_of_Vehicle,Driver_Home_Area_Type,make,Sex_of_Driver,Skidding_and_Overturning,X1st_Point_of_Impact,Year_y
0,200401BS00009,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,26 - 35,NaN,Urban area,PIAGGIO,Male,Skidded,Did not impact,2004
1,200401BS00150,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,16 - 20,3.0,Urban area,DUCATI,Male,Skidded,Front,2004
2,200401BS00197,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,36 - 45,3.0,Urban area,KAWASAKI,Male,Skidded,Front,2004
3,200401BS00274,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,36 - 45,NaN,Rural,PIAGGIO,Female,Skidded,Did not impact,2004
4,200401BS00352,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,26 - 35,3.0,Urban area,PIAGGIO,Female,Skidded,Did not impact,2004
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,200404C081704,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,16 - 20,7.0,Small town,SUZUKI,Male,Skidded,Front,2004
996,200404C082104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,36 - 45,6.0,Urban area,NISSAN,Male,Skidded,Front,2004
997,200404C082204,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,16 - 20,3.0,Rural,VAUXHALL,Male,Skidded,Front,2004
998,200404C083504,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,26 - 35,12.0,Small town,NISSAN,Female,Skidded,Front,2004
999,200404C083604,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,36 - 45,25.0,Data missing or out of range,MOTO GUZZI,Male,Skidded,Front,2004

In [30]:
df

,Accident_Index,Accident_Severity,Date,Day_of_Week,Light_Conditions,Number_of_Casualties,Number_of_Vehicles,Pedestrian_Crossing-Human_Control,Pedestrian_Crossing-Physical_Facilities,Road_Surface_Conditions,Speed_limit,Time,Weather_Conditions,Year
0,200501BS00001,Serious,04/01/2005,Tuesday,Daylight,1,1,0.0,1.0,Wet or damp,30,17:42,Raining no high winds,2005
1,200501BS00002,Slight,05/01/2005,Wednesday,Darkness - lights lit,1,1,0.0,5.0,Dry,30,17:36,Fine no high winds,2005
2,200501BS00003,Slight,06/01/2005,Thursday,Darkness - lights lit,1,2,0.0,0.0,Dry,30,0:15,Fine no high winds,2005
3,200501BS00004,Slight,07/01/2005,Friday,Daylight,1,1,0.0,0.0,Dry,30,10:35,Fine no high winds,2005
4,200501BS00005,Slight,10/01/2005,Monday,Darkness - lighting unknown,1,1,0.0,0.0,Wet or damp,30,21:13,Fine no high winds,2005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,201091NM01760,Slight,18/02/2010,Thursday,Daylight,2,1,0.0,0.0,Dry,60,7:00,Fine no high winds,2010
1048571,201091NM01881,Slight,21/02/2010,Sunday,Darkness - no lighting,1,1,0.0,0.0,Frost or ice,60,3:00,Fine no high winds,2010
1048572,201091NM01935,Slight,23/02/2010,Tuesday,Daylight,1,3,0.0,0.0,Frost or ice,30,9:38,Fine no high winds,2010
1048573,201091NM01964,Serious,23/02/2010,Tuesday,Darkness - no lighting,1,2,0.0,0.0,Wet or damp,60,18:25,Fine no high winds,2010
1048574,201091NM02142,Serious,28/02/2010,Sunday,Daylight,1,1,0.0,0.0,Wet or damp,60,15:45,Snowing no high winds,2010

In [9]:
df1 = df.head(10000)

In [36]:
df

,Accident_Index,Accident_Severity,Date,Day_of_Week,Light_Conditions,Number_of_Casualties,Number_of_Vehicles,Pedestrian_Crossing-Human_Control,Pedestrian_Crossing-Physical_Facilities,Road_Surface_Conditions,Speed_limit,Time,Weather_Conditions,Year
0,200501BS00001,Serious,04/01/2005,Tuesday,Daylight,1,1,0.0,1.0,Wet or damp,30,17:42,Raining no high winds,2005
1,200501BS00002,Slight,05/01/2005,Wednesday,Darkness - lights lit,1,1,0.0,5.0,Dry,30,17:36,Fine no high winds,2005
2,200501BS00003,Slight,06/01/2005,Thursday,Darkness - lights lit,1,2,0.0,0.0,Dry,30,0:15,Fine no high winds,2005
3,200501BS00004,Slight,07/01/2005,Friday,Daylight,1,1,0.0,0.0,Dry,30,10:35,Fine no high winds,2005
4,200501BS00005,Slight,10/01/2005,Monday,Darkness - lighting unknown,1,1,0.0,0.0,Wet or damp,30,21:13,Fine no high winds,2005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,201091NM01760,Slight,18/02/2010,Thursday,Daylight,2,1,0.0,0.0,Dry,60,7:00,Fine no high winds,2010
1048571,201091NM01881,Slight,21/02/2010,Sunday,Darkness - no lighting,1,1,0.0,0.0,Frost or ice,60,3:00,Fine no high winds,2010
1048572,201091NM01935,Slight,23/02/2010,Tuesday,Daylight,1,3,0.0,0.0,Frost or ice,30,9:38,Fine no high winds,2010
1048573,201091NM01964,Serious,23/02/2010,Tuesday,Darkness - no lighting,1,2,0.0,0.0,Wet or damp,60,18:25,Fine no high winds,2010
1048574,201091NM02142,Serious,28/02/2010,Sunday,Daylight,1,1,0.0,0.0,Wet or damp,60,15:45,Snowing no high winds,2010

In [10]:
df1.to_csv('include/dataset/traffics.csv')

In [21]:
dff = df1.notnull()
dff

,Accident_Index,Accident_Severity,Date,Day_of_Week,Light_Conditions,Number_of_Casualties,Number_of_Vehicles,Pedestrian_Crossing-Human_Control,Pedestrian_Crossing-Physical_Facilities,Road_Surface_Conditions,Speed_limit,Time,Weather_Conditions,Year
0,True,True,True,True,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,True,True,True,True,True,True,True,True,True,True,True,True,True,True
9996,True,True,True,True,True,True,True,True,True,True,True,True,True,True
9997,True,True,True,True,True,True,True,True,True,True,True,True,True,True
9998,True,True,True,True,True,True,True,True,True,True,True,True,True,True
9999,True,True,True,True,True,True,True,True,True,True,True,True,True,True

In [ ]:
['Accident_Index', 'Accident_Severity', 'Date', 'Day_of_Week',
       'Light_Conditions', 'Number_of_Casualties', 'Number_of_Vehicles',
       'Pedestrian_Crossing-Human_Control',
       'Pedestrian_Crossing-Physical_Facilities', 'Road_Surface_Conditions',
       'Speed_limit', 'Time', 'Weather_Conditions', 'Year']

In [ ]:
select 
    Accident_Index
    Age_Band_of_Driver
    Age_of_Vehicle
    Driver_Home_Area_Type
    Sex_of_Driver

In [31]:
result.columns

Index(['Accident_Index', 'Age_Band_of_Driver', 'Age_of_Vehicle',
       'Driver_Home_Area_Type', 'make', 'Sex_of_Driver',
       'Skidding_and_Overturning', 'X1st_Point_of_Impact', 'Year'],
      dtype='object')

In [ ]:

- Accident_Index
- Age_Band_of_Driver
- Age_of_Vehicle
- Driver_Home_Area_Type	
- make	
- Sex_of_Driver	
- Skidding_and_Overturning
- X1st_Point_of_Impact
- Year

Accident_Index:	string
Age_Band_of_Driver:	string	
Age_of_Vehicle:	float64	
Driver_Home_Area_Type:	string	
make:	string	
Sex_of_Driver:	string	
Skidding_and_Overturning:	string
X1st_Point_of_Impact:	string	
Year:	intiger64